@import "../../../static/stylesheets/containers/layout.css";

.wrapper {
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: multiply;
  height: 100%;
  background-size: cover;
  padding-bottom: 4rem;
  padding-top: 4.5rem;
}

.main h1 {
  font-size: 60px;
  letter-spacing: 8px;
  color: red;
  text-align: center;
  text-transform: uppercase;
}

.main p {
  font-size: 18px;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
}