@import "../../../static/stylesheets/abstracts/all.css";

.footer {
  grid-area: footer;

  background-color: var(--color2);
  & > div {
    /*max-width: 600px;*/
    padding: 1em;
    
    & p {
      /*text-align: center;*/
      font-size: 12px;
      color: #D9D9D9;
    }
  }
}
