@import "../../../static/stylesheets/abstracts/all.css";

:root {
  --spacer: 1rem;
}

.buttonWrapper {
  display: flex;
    justify-content: center;
}

.button {
  display: block;
  width: 100%;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background: var(--color-orange);
  margin: var(--spacer);
  padding: var(--spacer)  calc(var(--spacer) * 1.5);
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: block;
  max-width: 20rem;
  border: 0;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);

  &:focus,
  &:hover {
  background-color: color(var(--color-orange) a(90%)); /* As rgba(255, 0, 0, .9)*/
  box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  }

  &:focus {
  outline: 0;
  }
}