@import "../../../static/stylesheets/abstracts/all.css";

.footer {
  height: 150px;
  background: linear-gradient(to bottom right, #7d1e24, #bb2d35);
  & > div {
    /*max-width: 600px;*/
    padding: 1em;
    
    & p {
      /*text-align: center;*/
      font-size: 12px;
      color: #D9D9D9;
    }
  }
}
