@import "../../../static/stylesheets/abstracts/all.css";
@custom-media --small-viewport (max-width: 767px);

.footer {
  height: 100%;
  background: linear-gradient(to bottom right, #7d1e24, #bb2d35);
  & > ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
  }
  & p {
    display: none;
    max-width: 50px;
    font-size: 15px;
    color: white;
    @media (--small-viewport) {
      display: block;
    }
  }

  & button {
    padding: 20px;
    border: none;
    background: none;
    @media (--small-viewport) {
      display: none;
    }

    & img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
