@import "../../../static/stylesheets/abstracts/all.css";

.header {
  border-bottom: 1px solid var(--color2);
  background-color: color(var(--color2) a(5%)); /* As rgba(255, 0, 0, .05)*/
  padding: 1em;
  
  & .logo {

  }
  & .signin {
    margin-right: auto;
  }
}
